body{
	/*Install Package menu item. The CSSFontFamily*/
	font-family: Arial, Helvetica, sans-serif;
}

/*Global*/
img{
	/*Imagenes responsivas*/
	max-width: 100%;
}

button a, button a:hover{
	color: white;
	text-decoration: none;
}

i{
	margin: 0.5rem;
}


.contenedor{
	max-width: 1700px;
	margin-left: 10%;
	margin-right: 10%;
}

/*Utilidades*/
.seccion{
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/*Botones*/

/* Header */
.site-header-inicio{
	background-image: url(../img/header.jpg);
	background-position: center center;
	background-size: cover;
	height: 100vh;
	min-height: 600px;
	/*Flexbox solo afecta el primer nivel de hijos*/
	display: flex;
	flex-direction: column;
	/*Acomoda el contenido*/
	justify-content: space-between;
}

.site-header-inicio div h1{
	color: white;
	max-width: 700px;
}

/*Iconos nosotros*/

.encabezado-nosotros{
	text-align: center;
	font-weight: 900;
}

.iconos-nosotros{
	display: flex;
	justify-content: space-between;
}

.icono-hijo{
	/*Similar al width*/
	flex-basis: calc(33.3% - 1rem);
	text-align: center;
}
.icono-hijo h3{
	text-transform: uppercase;
}

/*Contenedor principal*/

.contenedor-anuncios{
	display: flex;
	justify-content: space-between;
	/*flex items are forced onto one line or can wrap onto multiple lines.*/
	flex-wrap: wrap;
}

.anuncio{
	/*Ayuda a que no se encoja y respete su tamaño original*/
	flex-shrink: 0;
	/*Similar al width*/
	flex-basis: calc(33.3% - 1rem);
	text-align: left;
	/*Instal package control Color Highlighter*/
	/*Instal package control ColorPicker = ctrl + shift+c*/
	border: 1px solid #B5B5B5;
	background: #F5F5F5;
	margin-bottom: 2rem;
}

.contenido-anuncio{
	padding: 2rem;
}

.contenido-anuncio h3{
	margin: 0;
}

.iconos-anuncio{
	list-style: none;
	display: flex;
	padding: 0;
}

.iconos-anuncio li{
	flex: 1;
	display: flex;
}

.iconos-anuncio li i{
	margin-right: 1rem;
}

.iconos-anuncio li p{
	margin-top: 1rem;
}

.precio{
	color: #71b100;
	font-weight: 700;
}

.btn-ver-todas{
	margin-top: 1rem;
	display: flex;
	justify-content: flex-end;
}

/* Contacto Home*/

.imagen-contacto{
	background-image: url(../img/encuentra.jpg);
	height: 15rem;
	background-position: center center;
	background-size: cover;
	display: flex;
	align-items: flex-end;
}

.contenido-contacto{
	flex: 1;
	color: white;
}

.btn-contacto{
	margin-bottom: 1rem;
}

/*Seccion Inferior*/
.seccion-inferior{
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
}

.seccion-inferior .blog{
	flex-basis: 60%;
}

.seccion-inferior .testimoniales{
	flex-basis: calc(40% - 4rem);
}

.entrada-blog{
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.entrada-blog .imagen-blog{
	flex-basis: 40%;
}

.entrada-blog .texto-entrada{
	flex-basis: calc(60% - 3rem);
}

.texto-entrada h4{
	font-weight: 700;
	font-size: 1.7rem;
}

.texto-entrada p{
	font-size: 1.2rem;
}

.texto-entrada a{
	color: black;
}

/*Testimoniales*/

.testimonial{
	background-color: #71B100;
	padding: 2rem;
	font-size: 1.2rem;
	color: white;
	border-radius: 2rem;
}
.testimonial p {
	text-align: right;
}

.testimonial blockquote::before{
	content: url(../img/comilla.svg);
	width: 2rem;
	height: 2rem;
}

.testimonial blockquote{
	padding-left: 5rem;
}

/*Footer*/
.copyright{
	color: white;
}

/* INTERNAS */

/* Main Nosotros.php */
.contenido-nosotros{
	display: grid;
	/*Indicar cuantas columas y que tamaño le damos a nuestras columnas*/
	grid-template-columns: repeat(2, 1fr);
	/*Indicar con cuanto separamos las columnas*/
	grid-column-gap: 2rem;
}

.texto-nosotros blockquote{
	font-weight: 900;
	font-size: 1.5rem;
	padding: 3rem 0;
}

/* Anuncio */

.resumen-propiedad{
	display: flex;
	justify-content: space-between;
}

.resumen-propiedad ul li{
	margin-right: 3rem;
}