body{
	/*Install Package menu item. The CSSFontFamily*/
	font-family: Arial, Helvetica, sans-serif;
}

/*Global*/
img{
	/*Imagenes responsivas*/
	max-width: 100%;
}

a, a:hover{
	color: white;
	text-decoration: none;
}

i{
	margin: 0.5rem;
}


.contenedor{
	max-width: 1700px;
	margin-left: 6%;
	margin-right: 6%;
}

/*Utilidades*/
.seccion{
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/*Botones*/

/* Header */
.site-header-inicio{
	background-image: url(../img/header.jpg);
	background-position: center center;
	background-size: cover;
	height: 100vh;
	min-height: 600px;
	/*Flexbox solo afecta el primer nivel de hijos*/
	display: flex;
	flex-direction: column;
	/*Acomoda el contenido*/
	justify-content: space-between;
}

.site-header-inicio div h1{
	color: white;
	max-width: 700px;
}

/*Iconos nosotros*/

.encabezado-nosotros{
	text-align: center;
	font-weight: 900;
}

.iconos-nosotros{
	display: flex;
	justify-content: space-between;
}

.icono-hijo{
	/*Similar al width*/
	flex-basis: calc(33.3% - 1rem);
	text-align: center;
}
.icono-hijo h3{
	text-transform: uppercase;
}

/*Contenedor principal*/

.contenedor-anuncios{
	display: flex;
	justify-content: space-between;
}

.anuncio{
	/*Similar al width*/
	flex-basis: calc(33.3% - 1rem);
	text-align: left;
	/*Instal package control Color Highlighter*/
	/*Instal package control ColorPicker = ctrl + shift+c*/
	border: 1px solid #B5B5B5;
	background: #F5F5F5;
}

.contenido-anuncio{
	padding: 2rem;
}

.contenido-anuncio h3{
	margin: 0;
}

.precio{
	color: #71b100;
	font-weight: 700;
}

.btn-ver-todas{
	margin-top: 1rem;
	display: flex;
	justify-content: flex-end;
}